$primary-color: white;
$secondary-color: #4B4B4B;
$third-color: #7E7E7E;
$button-color: #1511A5;

.card-container {
  display: flex;
  flex-direction: column;
  padding: 1em 3em;
  border: 1px solid $primary-color;
  background-color: $primary-color;

  .card-temp-info {
    display: inherit;
    flex-direction: row;

    .card-icon {
      margin-left: auto;
      margin-top: auto;
      height: 50px;
      width: 50px;

    }
  }

  .card-city {
    font-size: 32px;
    font-weight: bold;
    color: $secondary-color;
    margin-left: auto;
    margin-bottom: 0em;
  }

  .card-temp {
    font-size: 72px;
  }

  .card-description {
    font-size: 16px;
    color: $third-color;
    margin-left: auto;
  }

  .card-timestamp {
    font-size: 12px;
    color: $third-color;
    margin-left: auto;
  }

  .card-historic-button {
    margin-top: 2em;
    padding: 1em;
    color: $primary-color;
    background-color: $button-color;
    font-weight: bold;
  }
}
