/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

$bg-color: #D6D6D6;

html {  
  height: 100%;
  body {
    height: 100%;
    background-color: $bg-color;
    font-family: 'Roboto';
  }
}

app-weather-board {
  height: 100%;
}

app-weather-historic {
  height: 100%;
}